<div class="card cardtopmargin" style="background: rgba(97, 97, 97, 0.096);">
  <div class="card-block" style="padding:5px;">
    <h6 class="card-title" style="font-size:16px;padding-left:6px;padding-top:2px;text-transform: uppercase; font-weight:bold;">{{batsman}}</h6>
    <p class="card-text" style="padding:10px;font-size:12px;">
      <b>Cost : </b><span style="font-weight:300;font-size:18px;color:rgb(124, 124, 124)">&#8377; {{index}} Cr</span>
    </p>
    <div>
      <button type="button" class="floatbtntr">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>