<div class="card cardtopmargin">
  <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXhAAAAJDQ2ZmVkYzA1LTBjMGYtNGY3ZS04ZGVmLTY5N2FkNjNlOTg0ZQ.jpg"
    alt="Card image cap">
  <div class="card-block" style="padding:5px;">
    <h6 class="card-title">{{name}}</h6>
    <p class="card-text" style="padding:5px;font-size:12px;">
      <b>Rank:</b>8 <br>
      <b>Score:</b>200
      <br>
    </p>
    <a href="#" class="btn btn-primary">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>