/* .cricketerCard {
    border-radius: 60px 5px 5px 60px;
    width: 25em;
} */

.card-title {
    margin-right: 0.1rem;
}

.cardtopmargin {
    margin-top: 10px;
}

.floatbtntr {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    border-radius: 0 .25rem .25rem 0;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.floatbtntr:hover{
    background-color: rgb(0, 110, 255);
}