<div class="card cardtopmargin" style="background: rgba(255, 255, 255, 0.952);">
  <div class="card-block" style="padding:5px;">
    <h6 class="card-title" style="font-size:16px;padding-left:6px;padding-top:2px;text-transform: uppercase; font-weight:bold;"><img src="../assets/images/batsman.png" alt="" style="height:35px;padding-bottom: 5px;">{{batsman}}</h6>
    <p class="card-text" style="padding:10px;font-size:12px;">
      <b>Cost : </b><span style="font-weight:300;font-size:18px;color:rgb(124, 124, 124)"><img src="../assets/images/rs.png" alt="" style="height:26px;padding-bottom: 5px;"> {{index}} Cr</span>
      <!-- &#8377; rupee -->
    </p>
    <div>
      <button type="button" class="floatbtntr">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>