/* .cricketerCard {
    border-radius: 60px 5px 5px 60px;
    width: 25em;
} */

.card-title {
    margin-right: 0.1rem;
}

.cardtopmargin {
    margin-top: 10px;
}

.floatbtntr {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 35px;
    margin: auto;
    right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    border: 0px;
}
i{
    font-weight: bold;
    font-size: 20px;
}

.floatbtntr:hover{
    color: deepskyblue;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}