<div class="frame">
        <div class="center">
          
              <div class="profile">
                  <div class="image">
                      <div class="circle-1"></div>
                      <div class="circle-2"></div>
                      <img src="http://www1.pictures.zimbio.com/gi/Virat+Kohli+ICC+World+Twenty20+India+2016+pL6f7uANjOGl.jpg" width="70" height="70" alt="Jessica Potter">
                  </div>
                  
                  <div class="name">{{name}}</div>
                  <div class="job">Captain RBC</div>
                  
                  <div style="padding-top:25px;" class="actions">
                      <button class="btn">Batsman</button>
                     
                  </div>
              </div>
              
              <div class="stats">
                  <div class="box">
                      <span class="value">523</span>
                      <span class="parameter">Total Runs</span>
                  </div>
                  <div class="box">
                      <span class="value">2</span>
                      <span class="parameter">Wicket</span>
                  </div>
                  <div class="box">
                      <span class="value">34.6</span>
                      <span class="parameter">Average</span>
                  </div>
              </div>
        </div>
      </div>