@media screen and (min-width:994px){
    .navbar-brand-centered {
        position: absolute;
        left: 40%;
        display: block;
        width: auto;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.nav-link::first-letter{
    font-weight: bold;
    color: #314559;
}
.nav-link{
    font-weight: bold;
    animation: colorSwap 10s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes colorSwap{
    from{
        color:#314559;
    }
    to{
        color:lightskyblue;
    }
}