.report{
    text-align: center;
    margin-top: 50px;
}
.winscore{
    position: fixed;
    width: 600px;
    right: 0;
    top: 100px;
    text-align: center;
}
.score{
    position: absolute;
    bottom:100px;
    margin: auto;
    right: 0;
    left: 0;
    font-size: 100px;
}
.wincup{
    text-align: center;
    padding-top: 100px;
}
#bscore{
    display: none;
}
/* .scoreloader{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    height: 100px;
} */
.blobs{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
}
.circleload{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 50px solid;
    border-color: darkblue;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cup{
    animation-name: cupanim;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes cupanim{
    from{
        height: 300px;
    }
    to{
        height: 250px;
    }
}

.backcover{
    background: white;
    box-shadow: 0px 0px 0.5px 0.1px black;
    position: absolute;
    width: 600px;
    height: 600px;
    left: 100px;
    z-index: -2;
    border-radius: 10px;
}