<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-3" *ngFor="let player of players |slice:0:this.rightIndex; let i = index ">
                    <player  [batsman]="player.batsman" [runsMade]="player.sum" [ballFaced]="player.balls_faced" [index]="i" (click)="select(player)"></player>
                </div>
            </div>
            <div>
                <button type="button" class="btn nav-link btn-primary moreBtn" style="border-radius:30px;padding:.375rem 2.75rem;" (click)="showMore()">Show More</button>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card" style="width: 100%; margin-top:10px;position:sticky;top:10px;">
                <div style="text-align: center">
                  <div style="padding: 20px">
                    <img style="border-radius: 50%" width="50%" height="50%" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAhdAAAAJDllODM1NWQ1LWExZWQtNDFiOC1hNTBlLWFlNTljMGMxYmViZg.jpg"
                      alt="Avatar">
                    <div style="padding-top:6px; font-size: 15px; font-weight: 500">John Doe (Captain)</div>
                    <div style="padding-top: 20px;">
                      <div *ngFor="let player of selectedP">
                        <listComponent [name]="player.batsman" (click)="delete(player)"></listComponent>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>