<div class="container">
    <div class="row">
        <div class="col-md-9">
                <div>
                        <!-- <input type="text"  /> -->
                        <input style="width: 40rem;" type="email" (keyup)="autocomplete($event)" class="form-control" placeholder="Search Player here">
                       
                     </div>
            <div class="row">
                <div class="col-sm-3" *ngFor="let player of players |slice:0:this.rightIndex; let i = index ">
                    <player  [batsman]="player.batsman" [runsMade]="player.sum" [ballFaced]="player.balls_faced" [index]="player.cost" (click)="select(player)"></player>
                </div>
            </div>
            <div>
                <button type="button" class="btn nav-link btn-primary moreBtn" style="border-radius:30px;padding:.375rem 2.75rem;" (click)="showMore()">Show More</button>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card" style="width: 100%; margin-top:10px;position:sticky;top:10px;">
                <div style="text-align: center">
                  <div style="padding: 20px">
                    <div style="padding-top:6px; font-size: 1rem; font-weight: 500">Wallet Balance {{50 - this.totalValue}}</div>
                    <div style="padding-top:6px; font-size: 1rem; font-weight: 500">Total Player {{selectedP.length}}</div>
                    <div style="padding-top: 20px;">
                      <div *ngFor="let player of selectedP">
                        <listComponent [name]="player.batsman" [cost]="player.cost" (click)="delete(player)"></listComponent>
                      </div>
                      <button (click)="calculate()">Predict</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="fscore" id="fscore">
    <h2>Your Probability of Winning is</h2>
    <div id="timmed"><h1>{{fscore}} %</h1></div>
    <div>
        <button id="closeF" class="btn-warning btn" onclick="document.getElementById('fscore').style.display = 'none'" style="position:absolute;right:0;bottom:0;margin:10px;">Close</button>
    </div>
</div>